@import "tailwindcss";


:root {
  color-scheme: dark;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

button {
  text-transform: capitalize;
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

@keyframes spin {
from { transform: rotate(0deg); }
to { transform: rotate(360deg); }
}
